<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgPYj1SjvRA4ug2F8ftkoLHfJ1B-ZsFXc</string>
	<key>GCM_SENDER_ID</key>
	<string>742003199427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualCook</string>
	<key>PROJECT_ID</key>
	<string>virtual-cook-1dbdb</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-cook-1dbdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742003199427:ios:21f460c05e54bc218bc176</string>
</dict>
</plist>